  body {
      background-color: #1e293b;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 20px;
    }

    .chart-container {
      width: 670px;
      margin: 20px auto;
      position: relative;
      height: 400px;
    }

    .download-btn:hover {
      background-color: #475569;
    }

    .legend {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      font-size: 14px;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .legend-color {
      width: 12px;
      height: 12px;
      border-radius: 2px;
    }

    /* start notice */

       .notice-board {
      max-width: 600px;
      margin: 20px auto;
      background-color: #1e293b;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      position: relative;
      left: 360px;
    }

    .notice-board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #334155;
    }

    .notice-board-title {
      font-size: 20px;
      font-weight: bold;
    }

    .more-options {
      cursor: pointer;
      font-size: 24px;
      color: #94a3b8;
    }

    .notice-item {
      background-color: #1f2937;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 15px;
      transition: background-color 0.2s;
    }

    .notice-item:hover {
      background-color: #334155;
    }

    .notice-date {
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .notice-text {
      color: #cbd5e1;
      margin-bottom: 12px;
      line-height: 1.5;
    }

    .notice-sender {
      color: #38bdf8; /* أزرق فاتح */
      font-weight: bold;
      font-size: 14px;
    }

    .notice-department {
      color: #94a3b8;
      font-size: 12px;
      margin-top: 2px;
    }

    /* end notice */
